pipeline/pl_raw_csv_to_sqldb_hospital.json
{
	"name": "pl_raw_csv_to_sqldb_hospital",
	"properties": {
		"activities": [
			{
				"name": "Lookup variable for data copy from adls to sql server",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_lookup_navneet_emr_json",
						"type": "DatasetReference",
						"parameters": {
							"FilePath": {
								"value": "@pipeline().parameters.FilePath",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup variable for data copy from adls to sql server",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup variable for data copy from adls to sql server').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Hospital Raw Data Copy Activity",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adls_navneet_emr_csv",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@item().FilePath",
											"type": "Expression"
										},
										"Container": {
											"value": "@item().Container",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sqldb_hospital",
									"type": "DatasetReference",
									"parameters": {
										"DatabaseName": {
											"value": "@item().DatabaseName",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"FilePath": {
				"type": "string",
				"defaultValue": "raw-data-for-sql-database/lookup_file_table_mapping.json"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-01-04T20:44:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}